
h1{
	text-align: center;
}

h2{
	text-align:right;
	background-color: blue;
}
@media (min-width:992px)
{
	.container{
	width:100%;
	height:190px;
	padding-left: 50px;
	
}

#sedan{
	float: left;
	width:30%;
	height: 250px;
	margin-left:10px;
	background-color: gray;
	border:solid black;
}
#hatchback{
	float:left;
	width:30%;
	height:250px;
	margin-left:10px;
	background-color: gray;
	border:solid black;
}
#suv{
	float:left;
	margin-left:10px;
	width:30%;
	height:250px;
	background-color: gray;
	border:solid black;
}
}

@media(max-width: 991px) and (min-width: 768px)
{
	.container{
		width:100%;
		height:100%;
	}
	#sedan{
		float:left;
		width: 49%;
		height: 49%;
		background-color: gray;
	}
	#hatchback{
		float:left;
		width:49%;
		height: 49%;
		margin-left:10px;
		background-color: gray;
	}
	#suv{
		float:right;
		background-color: gray;
		margin-top: 10px;
		height: 49%;
	}
}
@media (max-width:767px){

	.container{
	width:95%;
	height:190px;
	padding-left: 50px;
	padding-right: 250px;
	padding-top:20px;
}
#sedan,#hatchback,#suv{
	margin-right:50px;
	width:90%;
	background-color: gray;
}
}
